@charset "utf-8";
/* CSS Document */

body,td,th,p{
  /* Cool snippet that uses available system fonts to save bandwidth(alot of it) */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10pt;
  color: #333;
  line-height: 1.5;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

ul, li {
  font-size: 10pt;
  color: #333;
}

a {
  color: #ffa94d;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

#logo-banner {
  height: 80px;
  background-color: #373b40;
  display: flex;  /* center everithing by using flexbox */
  align-items: center;
  justify-content: center;
}

#logo {
  /* Display block to remove the default image padding bottom */
  display: block;
  /* Margin top to center the logo to the text */
  margin-top: -5px;
  height: 30px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #b7b7b7;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ================ Helpers & general ================ */
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #fff;
  padding: 10px;
}

.skip-link:focus {
  top: 0;
}

.width-limiter {
  position: relative; /* used to haouse some absolute elements */
  max-width: 650px;
  margin: 0 auto;
}

/* =================== Navigation =================== */
#breadcrumb {
  list-style: none;
  margin: 0 0;
  padding: 0 30px;
  
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
  background-color: #eee;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  display: inline-block;
  margin: 0 10px;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: .8em;
  content: '';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0069c3;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #ccc;
  transition: height 0.3s ease-out;
  will-change: contents;
  overflow: hidden; /* to keep the background blur effect within this div */
}

#map .placeholder-bg {
  width: 100%;
  height: 100%;
  position: absolute;

  background: url('style/map-placeholder.svg') center center;
  background-size: cover;
  filter: blur(10px);
}

#map .load-map-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#load-map {
  display: flex;
  margin: auto;
  padding: 10px;

  cursor: pointer;
  border: none;
  font-size: inherit;
  font-weight: bold;
  color: #60676E;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#load-map div {
  will-change: contents;
  margin-top: 10px;
}

/* ====================== Restaurant Details ====================== */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 80px);
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  will-change: contents;
}

#footer {
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-size: 20pt;
  letter-spacing: 0;
  margin: 0 0 30px;
  line-height: 1.1;
}

#favorite {
  position: absolute;
  right: 0;
  color: #fff;
  padding: 10px 10px 8px;
  margin: 10px 10px 0 0;

  border: 0;
  background-color: rgba(0,0,0,0.6);
  border-radius: 3px;
  cursor: pointer;
}

#favorite:active {
  background-color: rgba(0,0,0,0.7);
}

/* Rotates the loading icon */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#favorite .loading {
  animation: spin 2s infinite linear;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  color: #ddd;
  font-size: 12pt;
  letter-spacing: 10px;
  padding: 5px 0;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
}

#restaurant-hours td {
  color: #666;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 30px 40px 80px;
  width: 50%;
}

#restaurant-container {
  margin-top: 130px;
}

/* ====================== Restaurant reviews ====================== */
#reviews-container h2 {
  color: #f58500;
  font-size: 20pt;
  letter-spacing: -1px;
  margin-bottom: 30px;
}


/* Leave review */
#leave-review {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}

#leave-review.closed {
  border: 1px solid #b5d6f1;
  cursor: pointer;
}

#leave-review.closed:hover {
  box-shadow: 0 0 5px #b5d6f1;
}

#leave-review header {
  display: flex;
  align-items: center;
  align-content: flex-start;
  padding: 20px;
  border-bottom: 1px solid #ecf0f3;
}

#leave-review header svg {
  margin-right: 15px;
  color: #4fa6e8;
}

#leave-review header h3 {
  margin: 0;
  font-size: 18px;
}

#leave-review form {
  padding: 20px;
}

#leave-review.closed form {
  display: none;
}

#leave-review input,
#leave-review textarea {
  width: 100%;
  font-size: 16px;
  padding: 0.5em;
  border: 1px solid #dde4e8;
  border-radius: 3px;
  margin-bottom: 15px;
}

#leave-review textarea {
  display: block;
}


#leave-review input:last-child {
  margin-bottom: 0;
}

#leave-review .submit {
  cursor: pointer;
  background-color: #ffa94d;
  border: none;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  box-shadow: 0 3px 1px #eee;
}

#leave-review .submit:active {
  background-color: #e89b48;
}

#leave-review .submit:disabled {
  background-color: rgba(0,0,0,0.4);
}

#leave-review .comments {
  height: 5em;
}

/* Rating */
#leave-review .rating, #leave-review .rating input {
  padding: 0;
  margin: 0;
  border: none;
}

#leave-review .rating input {
  opacity: 0;
}

#leave-review .rating {
  margin-bottom: 15px;
}

#leave-review .rating .title {
  font-size: 16px;
  float: left;
  margin: 9px 10px 0 0;
}

#leave-review .stars-wrap {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 4px;
}

#leave-review .star {
  display: inline-block;
  color: #c9c9c9;
  padding: 3px;
  border-radius: 3px;
}

#leave-review .rating input:checked ~ .star,
#leave-review .rating input:hover ~ .star {
  color: #ffa94d;
}

#leave-review .rating input:focus ~ .star {
  box-shadow: 0 0 3px 2px #0275d8;
}

/* validation errors */
#leave-review .error {
  padding: 10px;
  margin: -10px 0 15px;
  font-weight: bold;
  color: #fff;
  background-color: #f37575;
  box-shadow: 0 3px 1px #eee;
  border-radius: 3px;
}

#leave-review .error:empty {
  display: none
}

/* Already left reviews */
#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  margin: 0 0 30px;
  padding: 20px 20px 10px;
  background-color: #fff;
  border-radius: 5px;
}

#reviews-list li:last-child {
  margin: 0;
}

#reviews-list .review .username {
  font-size: 18px;
  color: #0275d8;
  margin-right: 10px;
}

#reviews-list .review .rating {
  margin-right: 10px;
}


#reviews-list .review .rating svg {
  margin-right: 3px;
  fill: #ffa94d;
}

#reviews-list .review .date {
  color: #757575;
}

#reviews-list .review .comments {
  margin-top: 15px;
  font-size: 11pt;
}

/* ====================== Responsive styles ====================== */
@media screen and (max-width: 1024px) {
  #header {
    position: relative;
  }

  #breadcrumb {
    width: 100%;
  }

  #map-container {
    position: relative;
    height: 150px;
    width: 100%;
    top: 0;
    margin: 30px 0;
  }

  #restaurant-container {
    margin-top: 0;
  }

  #restaurant-container,
  #reviews-container {
    padding: 30px;
    width: 100%;
  }

  #restaurant-address {
    margin-bottom: 25px;
  }

  #footer {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #logo {
    margin-top: -3px;
    height: 25px;
  }

  #breadcrumb {
    padding-left: 15px;
  }

  #restaurant-container,
  #reviews-container {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 650px) {
  #reviews-list .review .username {
    font-size: 16px;
  }
}